@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
html {
  background-color: #000;
  font-family: "Alice";
}

.container {
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.left-content {
  padding: 2rem;
  border-right: 2px solid whitesmoke;
}

.right-content {
  padding: 2rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  opacity: 0.7;
}
